form{
    display: flex;
    flex-flow: column wrap;
}

input + p{
    display: none;
    color: orange;
    text-align: center;
}

input.invalid +p{
    display: block;
    text-align: center;
}

label {
    display: block;
    font-size: 1.2em;
    margin: 0 auto;
}
input {
    display: block;
    padding: 8px 16px;
    width: 40%;
    font-size: 1rem;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}

input.valid{
    border-color: #36cc36;
}

.invalid{
    border-color: orange;
}

button{
    border-radius: 10px;
    background-color: #36cc36;
    color: white;
    font-size: 1.2em;
    padding: 10px 40px;
    width: 20%;
    margin: 0 auto;
}